body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(177, 242, 249);
}

h1, h2 {
  margin: 0;
}

textarea {
  resize: none;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}


/* Header Styling */

nav {
  position: sticky;
  top: 0px;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

#push-left {
  margin-right: auto;
}

nav a {
  font-size: 1.2em;
  text-align: center;
  line-height: 60px;
  width: 4.5em;
  text-decoration: none;
}

nav a:hover {
  box-shadow: 0 0 3px 1px black ;
}

nav a:active {
  background-color: rgb(150, 150, 150);
}

nav:link {
  color:black
}

nav a:visited {
  color:black
}

.pantry,.recipe-list,.recipe-details,.recipe-form,.about {
  padding: 1em 2em;
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Fimage%2F2015%2F12%2Fmain%2F1601p129-anatomy-healthy-fridge_0.jpg%3Fitok%3D5GWLuWj2");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4em;
}

.home-div {
  background-color: rgba(128, 128, 128, 0.604);
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.home-div h1 {
  padding: 1em 0 0.5em 0;
}



/* Button Styling */

.button {
  margin: 5px;
  height: 3em;
  width: 10em;
  background-color:rgb(200, 200, 200)
}

.home-div .button {
  margin: 2em;
}

.button:hover {
  box-shadow: 0 0 3px 1px black ;
}

.button:active {
  background-color: rgb(150, 150, 150);
}

/* Recipe Form Styling */

#recipe-form {
  align-content: center;
  margin: 0 8em 0 0;
}

#recipe-form-heading {
  text-align: center;
  margin: 0 0 1em 0;
}

#form-note {
  line-height: 1.5em;
}

#recipe-form-grid {
  display: grid;
  grid-template: 1.5em 5em 1.5em 1.5em 10em 12em 1.5em 1.5em 6em 3em / 8em 80%;
  text-align: right;
  grid-gap: 2px
}

label {
  padding-right: 0.5em;
  padding-top: 0.5em;
}

#recipe-form-grid > label {
  padding-right: 0.2em;
  padding-top: 0.2em;
  font-weight: bold;
}

#recipeSubmit {
  background-color: rgb(200, 200, 200);
  grid-column: 2 / 3;
}

#recipeSubmit:hover {
  box-shadow: 0 0 3px 1px black ;
}

#recipeSubmit:active {
  background-color: rgb(150, 150, 150);
}

/* /////////////////// */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 1em
  
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em
}

.recipe-card-info {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.card.recipe {
  height: 275px
}

.card.recipe > h3 {
  margin: 1em 0 0.5em 0;
}

.card.ingredient {
  height: 275px;
}

.card.ingredient.perishable {
  background-color: rgb(255, 254, 172);
}

.card:hover {
  box-shadow: 0px 0px 3px 1px black;
}

.recipe .img-wrapper {
  height: 150px;
}

.ingredient .img-wrapper {
  height: 150px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ingredient-form {
  margin-left: .2em;
  margin-right: .2em;
  height: fill;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkbox {
  width: 17px;
  height: 17px;
}

#newIngredientForm,#searchForm {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.recipe-nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0;
  padding: 0.5em;
}

#searchForm > div {
  margin-right: 0.5em
}

#newIngredientForm > div {
  margin-right: 1em;
  margin-bottom: 0.5em;
}


/* Recipe Detail Styling */

.details {
  display: flex;
  flex-wrap: wrap;
}

.recipe-image {
  max-height: 300px;
  margin: 0 1em 0 0;
  box-shadow: 0 0 3px 1px white;
}

.recipe-ingredients {
  white-space: pre-line;
  list-style:circle;
  padding: 1em 2em;
}

.details h3 {
  margin: 0 0 1em 0;
  text-decoration: underline;
}

.recipe-ingredients > li {
  margin: 0.2em 0;
  line-height: 1.5em;
}

.recipe-instructions {
  border-top: 2px solid black;
  white-space: pre-line;
  padding: 1em 2em;
}

.recipe-instructions > li {
  margin: 1em 0;
  text-indent: 1em;
  line-height: 1.5em;
}

.recipe-notes {
  border-top: 2px solid black;
  padding: 1em 2em;
  white-space: pre-wrap
}

.recipe-notes > p {
  line-height: 1.5em;
  text-indent: 1.5em;
}

::marker {
  color: rgb(120, 0, 0);
  font-size: 1.5em
}