body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(177, 242, 249);
}

main {
  margin: 2em;
}

/* Header Styling */

nav {
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

nav a {
  font-size: large;
  text-align: center;
  line-height: 60px;
  width: 90px;
  text-decoration: none;
}



nav a:hover {
  box-shadow: 0 0 3px 1px black ;
}

nav a:active {
  background-color: rgb(150, 150, 150);
}

nav:link {
  color:black
}

nav a:visited {
  color:black
}

.home {
  text-align: center;
}

.button {
  margin: 5px;
  height: 3em;
  width: 10em;
  background-color:rgb(200, 200, 200)
}

.button:hover {
  box-shadow: 0 0 3px 1px black ;
}

.button:active {
  background-color: rgb(150, 150, 150);
}

/* Recipe Form Styling */

#recipeFormDiv {
  align-content: center;
  margin: 0em 8em 0em 0em
}

#recipeFormHeading {
  text-align: center;
}

#recipeForm {
  display: grid;
  grid-template: 2em 10em 2em 2em 15em 20em 2em 2em 10em 3em / 30% 70%;
  text-align: right;
  grid-gap: 2px
}

label {
  padding-right: 0.5em;
  padding-top: 0.5em;
}

#recipeSubmit {
  background-color: rgb(200, 200, 200);
  grid-column: 2 / 3;
}

#recipeSubmit:hover {
  box-shadow: 0 0 3px 1px black ;
}

#recipeSubmit:active {
  background-color: rgb(150, 150, 150);
}

/* /////////////////// */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 1em
  
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em
}

.card {
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.card.recipe {
  height: 275px
}

.card.ingredient {
  height: 275px;
}

.card:hover {
  box-shadow: 0px 0px 3px 1px black;
}

.recipe .img-wrapper {
  height: 150px;
}

.ingredient .img-wrapper {
  height: 150px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ingredient-form {
  margin-left: .2em;
  margin-right: .2em;
  height: fill;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkbox {
  width: 17px;
  height: 17px;
}

#newIngredientForm,#searchForm {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

#searchForm > div {
  margin-right: 0.5em
}

#newIngredientForm > div {
  margin-right: 1em;
  margin-bottom: 0.5em;
}


/* Recipe Detail Styling */

.recipe-details {
  display: flex;
  flex-wrap: wrap;
}

.recipe-image {
  max-height: 300px;
  border: 1px solid black;
}

.recipe-ingredients {
  white-space: pre-line;
}

.recipe-instructions {
  white-space: pre-line;
}

::marker {
  color: rgb(120, 0, 0);
  font-size: 1.5em
}