body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(215, 242, 251);
  background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2 {
  margin: 0;
}

textarea {
  resize: none;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

/* Header Styling */

nav {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-image: linear-gradient(to bottom left, rgb(215, 242, 251), rgb(114, 167, 186));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid black;
}

#push-left {
  margin-right: auto;
}

nav a {
  font-size: 1.2em;
  text-align: center;
  line-height: 60px;
  width: 4.5em;
  text-decoration: none;
}

nav a:hover {
  box-shadow: 0 0 4px 2px black ;
}

nav a:active {
  background-color: rgb(114, 167, 186);
}

nav:link {
  color:black
}

nav a:visited {
  color:black
}

.pantry,.recipe-list,.recipe-details,.recipe-form,.about {
  padding: 1em 2em;
}

.home {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1556911220-bff31c812dba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1568&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4em;
}

.home-div {
  background-color: rgba(160, 160, 160, 0.35);
  position:relative;
  top: 4em;
  margin: auto;
  min-width: 20em;
  max-width: 33em;
  border-radius: 10px;
}

.home-div h1 {
  padding: 1em 0 0.5em 0;
}

.about {
  min-height: 100vh;
}

/* Input Styling */

button, .pointer {
  cursor: pointer;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.checkbox {
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
}

#new-ing-checkdiv {
  position: relative;
  bottom: 0.2em
}

#ing-checkdiv {
  position: relative;
  bottom: 0.2em;
}

button {
  margin: 5px;
  height: 3em;
  width: 10em;
  background-color:rgb(215, 242, 251);
}

.home-div .button {
  margin: 0.5em;
  height: 2.5em;
  width: 10em;
  background-color: rgba(160, 160, 160, 0.5);
  font-size: 16pt;
}



button:hover {
  box-shadow: 0 0 3px 1px black ;
}

button:active {
  background-color: rgb(114, 167, 186);
}

.home-div .button:active {
  background-color: rgba(160, 160, 160, 0.85);
}

/* Recipe Form Styling */

#recipe-form {
  align-content: center;
  margin: 0 8em 0 0;
}

#recipe-form-heading {
  text-align: center;
  margin: 0 0 1em 0;
}

#form-note {
  padding: 1em 0;
  line-height: 1.5em;
  border-top: 2px solid black;
}

#recipe-form-grid {
  display: grid;
  grid-template: 1.5em 5em 1.5em 1.5em 10em 12em 1.5em 1.5em 6em / 8em 80%;
  text-align: right;
  grid-gap: 2px
}

label {
  padding-right: 0.5em;
  padding-top: 0.5em;
}

#recipe-form-grid > label {
  padding-right: 0.2em;
  padding-top: 0.2em;
  font-weight: bold;
}

#recipeSubmit {
  background-color: rgb(215, 242, 251);
  grid-column: 2 / 3;
  width: 10em;
}

#recipeSubmit:hover {
  box-shadow: 0 0 3px 1px black ;
}

#recipeSubmit:active {
  background-color: rgb(114, 167, 186);
}

/* /////////////////// */

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 1em
  
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em
}

.recipe-card-info {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 2px solid black;
  background-color: rgb(215, 242, 251);
  text-align: center;
}

.card.recipe {
  height: 275px;
}

.card-h3-wrapper {
  height: 2em
}

.description {
  height: 276px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  bottom: 270px;
  color: white
}

.description > h3 {
  padding-top: 1em;
}

.card.ingredient {
  height: 275px;
}

.card.ingredient.perishable {
  background-color: rgb(255, 254, 172);
}

.card:hover {
  box-shadow: 0px 0px 4px 2px black;
}

.recipe .img-wrapper {
  height: 150px;
}

.ingredient .img-wrapper {
  height: 150px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ingredient-form {
  margin-left: 2px;
  margin-right: 2px;
  height: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  line-height: 1.5em;
}

.ingredient-form > button {
  margin: 0px;
  height: 2em;
  width: 14em;
}

#newIngredientForm, #searchForm {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
  padding: 0.5em 0.5em 0.5em 1.2em;
  border: 2px inset rgb(0, 115, 123);
}

#searchForm > div, #newIngredientForm > div {
  margin-right: 1em;
  margin-bottom: 0.5em
}

/* Recipe Detail Styling */

.details {
  display: flex;
  flex-wrap: wrap;
}

.recipe-image {
  max-height: 300px;
  margin: 0 1em 0 0;
  box-shadow: 0 0 3px 1px white;
}

.recipe-ingredients {
  white-space: pre-line;
  list-style:circle;
  padding: 1em 2em;
}

.details h3 {
  margin: 0 0 1em 0;
  text-decoration: underline;
}

.recipe-ingredients > li {
  margin: 0.2em 0;
  line-height: 1.5em;
}

.recipe-instructions {
  border-top: 2px solid black;
  white-space: pre-line;
  padding: 1em 2em;
}

.recipe-instructions > li {
  margin: 1em 0;
  text-indent: 1em;
  line-height: 1.5em;
}

.recipe-notes {
  border-top: 2px solid black;
  padding: 1em 2em;
  white-space: pre-wrap
}

.recipe-notes > p {
  line-height: 1.5em;
  text-indent: 1.5em;
}

::marker {
  color: rgb(120, 0, 0);
  font-size: 1.5em
}